<h2 class="header-container">Images Gallery</h2>

<!-- Upload control -->
<div class="main-upload-container">
  <div class="upload-container">
    <form #fileForm>
      <input type="file" accept="image/*" (change)="onFile($event)"/>
      
    </form>
    <button (click)="upload()" [disabled]="loading() || !selectedFile()">
      Upload
    </button>
  </div>
  <input type="text" placeholder="Enter image description" [(ngModel)]="fileDescription" />
</div>


@if(showPreviewWindow()){
  <div class="upload-view-container">
    @if(displayImageUrl()){
      <div class="preview">
          <img [src]="displayImageUrl()" class="preview-img" alt="Selected" />
      </div>
    }
  </div>
}
<div class="display-description">
  @if (displayImageUrl()) {
    <div class="display-img-container">
        <span class="display-narration-span">{{selectedFile()? "Image URL" : "Image Description"}} : <span class="describe-narration">{{viewerDescription()}}</span></span> 
        <button (click)="resetInputForm()">❌</button>
    </div> 
  }
</div>

@if(error()){
  <div class="error-message">
    <p  style="color:red;">❌ {{error()}}</p>
  </div>
    
}

<!-- Gallery table -->
@if(imageList().length){
    <table class="gallery-table">
        <thead>
            <tr>
            <th>Image</th>
            <th>FileName </th>
            <th>Description</th>
            <th>Upload At</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(img of imageList(); track img.id) {
                <tr>
                    <td><img [src]="img.url" alt="Thumbnail"/></td>
                    <td>{{ img.fileName }}</td>
                    <td>{{ img.fileDescription || 'No description' }}</td>
                    <td>{{ img.uploadedAt | date:'medium' }}</td>
                    <td>
                      <a href="javascript:void(0)" (click)="viewImage(img); $event.preventDefault()">View</a>
                      |
                      <button href="javascript:void(0)" (click)="delete(img.id)" [disabled]="loading()">Delete</button>
                    </td>   
                </tr>
            }
        </tbody>
    </table>
}

<!-- Pagination -->
<div class="pagination">
  <div>
    <button (click)="back()" [disabled]="currentPage() === 1">← Back</button>
    <button (click)="next()" [disabled]="!nextPage()">Next →</button>
  </div>

  @if(loading()) {
    <span>Loading...</span>
  }
</div>

